{% extends 'base.html' %}
{% block title %}首页 | {% endblock %}
{% block banner %}
    <div id="page" class="carousel carousel-slider center index-cover" data-indicators="true" style="margin-top: -64px;">
    <div class="carousel-item red white-text bg-cover about-cover">
        <div class="container">
            {% include 'banner.html' %}
            <!-- 开始阅读 和 社交链接 -->
            <div class="cover-btns">
                <a href="#indexCard" class="waves-effect waves-light btn">
                    <i class="fas fa-angle-double-down"></i>开始阅读
                </a>
            </div>
            <div class="cover-social-link">
                <a href="/article/" class="tooltipped" target="_blank" data-tooltip="文章更新动态" data-position="top" data-delay="50">
                    <i class="far fa-calendar-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block contents %}
    <div id="indexCard" class="index-card">
    <div class="container ">
        <div class="card">
            <div class="card-content">
                <div class="dream">
                    <div class="title center-align">
                        <i class="far fa-lightbulb"></i>&nbsp;&nbsp;{{ site.SITE_TITLE }}
                    </div>

                    <div class="row">
                        <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text">
                            {{ site.BeautifulSentence }}
                        </div>
                    </div>
                </div>

                <div id="recommend-sections" class="recommend">
                    <div class="title"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;推荐文章</div>
                    <div class="row">
                        {% for i in top_articles %}
                        <div class="col s12 m6" >
                            <div class="post-card" style="background-image: url('{{ i.bimg }}')">
                                <div class="post-body">
                                    <div class="post-categories">

                                    <a href="/category/id/{{ i.bcategory.id }}" class="category">{{ i.bcategory.name }}</a>

                                </div>
                                    <a href="/article/id/{{ i.bid }}">
                                        <h3 class="post-title">{{ i.btitle }}</h3>
                                    </a>
                                    <p class="post-description">
                                        {{ i.bdesc }}
                                    </p>
                                    <a href="/article/id/{{ i.bid }}" class="read-more btn waves-effect waves-light" style="background: linear-gradient(to right, #FF5E3A 0%, #FF2A68 100%)" target="_blank">
                                        <i class="icon far fa-eye fa-fw"></i>阅读更多
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <main class="content" class="col s12 m12 l9">
    <article id="articles" class="container articles">
        <div class="row article-row">
            {% for article in all_articles.object_list %}
            <div class="article col s12 m6 l4" data-aos="zoom-in">
                <div class="card">
                    <a href="/article/id/{{ article.bid }}">
                        <div class="card-image">
                            <img src="{{ article.bimg }}" class="responsive-img" alt="{{ article.title }}">
                            <span class="card-title">{{ article.btitle }}</span>
                        </div>
                    </a>
                    <div class="card-content article-content">
                        <div class="summary block-with-text">
                            {{ article.bdesc }}
                        </div>
                        <div class="publish-info">
                            <span class="publish-date">
                                <i class="far fa-clock fa-fw icon-date"></i>{{ article.bdate }}
                            </span>
                            <span class="publish-author">
                                <i class="fas fa-bookmark fa-fw icon-category"></i>
                                <a href="{{SITE_URL}}/category/id/{{ article.bcategory.id }}" class="post-category">
                                    {{ article.bcategory.name }}
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="card-action article-tags">
                        {% for btag in article.btag %}
                        <a href="{{ SITE_URL }}/tag/id/{{ btag.id }}">
                            <span class="chip tag-color">{{ btag.name }}</span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</main>
{% endblock %}

{% block pagination %}
    <div class="container paging">
        <div class="row">
            <div class="col s6 m4 l4">
                <a class="left btn-floating btn-large disabled">
                    <i class="fas fa-angle-left"></i>
                </a>
            </div>


            <div class="page-info col m4 l4 hide-on-small-only">
                <div class="center-align b-text-gray">1 / {{ all_articles.blogallpages }}</div>
            </div>

            <div class="col s6 m4 l4">
                {% if all_articles.has_next %}
                <a href="/archive/page/2/" class="right btn-floating btn-large waves-effect waves-light right-color">
                {% else%}
                <a class="right btn-floating btn-large disabled">
                {% endif %}
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div>
    {% endblock %}